In [2]:
# Import the dependencies.
import pandas as pd

In [4]:
rain_df = pd.read_csv("avg_rain_state.csv")
rain_df.head()

        State  Inches  Milli足metres  Rank
0     Alabama    58.3          1480     4
1      Alaska    22.5           572    39
2     Arizona    13.6           345    47
3    Arkansas    50.6          1284     8
4  California    22.2           563    40

In [12]:
rain_df.sort_values(['Rank'], ascending=False).tail()

          State  Inches  Milli足metres  Rank
8       Florida    54.5          1385     5
0       Alabama    58.3          1480     4
23  Mississippi    59.0          1499     3
17    Louisiana    60.1          1528     2
10       Hawaii    63.7          1618     1

In [ ]:
try:
    print("Infinity looks like + " + str(10 / 0) + ".")
except:
    try:
        print("I think her name was + " + name + "?")
    except :
        try:
            print("Your name is a nonsense number. Look: " + int("Gabriel"))
        except Response area:
            print("I made it through the gauntlet. The message survived!")