In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Champerico,GT,2021-09-02 14:53:31,14.3000,-91.9167,89.73,78,83,6.55
1,1,Port Elizabeth,ZA,2021-09-02 14:53:32,-33.9180,25.5701,70.11,88,75,14.97
2,2,Acarau,BR,2021-09-02 14:53:35,-2.8856,-40.1200,88.74,52,12,16.17
3,3,Bredasdorp,ZA,2021-09-02 14:53:37,-34.5322,20.0403,67.28,72,100,19.57
4,4,Carolina,PR,2021-09-02 14:51:41,18.3808,-65.9574,89.73,65,40,9.22

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Champerico,GT,2021-09-02 14:53:31,14.3000,-91.9167,89.73,78,83,6.55
2,2,Acarau,BR,2021-09-02 14:53:35,-2.8856,-40.1200,88.74,52,12,16.17
4,4,Carolina,PR,2021-09-02 14:51:41,18.3808,-65.9574,89.73,65,40,9.22
6,6,Meulaboh,ID,2021-09-02 14:49:08,4.1363,96.1285,77.43,83,83,4.61
8,8,Butaritari,KI,2021-09-02 14:53:44,3.0707,172.7902,82.40,69,45,10.49
13,13,Ribeira Brava,PT,2021-09-02 14:53:52,32.6500,-17.0667,81.23,80,54,1.36
15,15,Kapaa,US,2021-09-02 14:53:56,22.0752,-159.3190,80.92,73,75,1.99
16,16,Vinh,VN,2021-09-02 14:50:05,18.6667,105.6667,79.99,81,43,1.92
17,17,Tiarei,PF,2021-09-02 14:53:58,-17.5333,-149.3333,75.22,68,3,19.93
18,18,Palauig,PH,2021-09-02 14:54:00,15.4350,119.9045,81.10,80,98,4.76

In [12]:
preferred_cities_df.count()

City_ID       210
City          210
Country       209
Date          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0      Champerico      GT     89.73  14.3000  -91.9167
2          Acarau      BR     88.74  -2.8856  -40.1200
4        Carolina      PR     89.73  18.3808  -65.9574
6        Meulaboh      ID     77.43   4.1363   96.1285
8      Butaritari      KI     82.40   3.0707  172.7902
13  Ribeira Brava      PT     81.23  32.6500  -17.0667
15          Kapaa      US     80.92  22.0752 -159.3190
16           Vinh      VN     79.99  18.6667  105.6667
17         Tiarei      PF     75.22 -17.5333 -149.3333
18        Palauig      PH     81.10  15.4350  119.9045

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Champerico,GT,89.73,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
2,Acarau,BR,88.74,-2.8856,-40.1200,castelo pizzaria
4,Carolina,PR,89.73,18.3808,-65.9574,Motel Fantasy Star
6,Meulaboh,ID,77.43,4.1363,96.1285,Kost Pria
8,Butaritari,KI,82.40,3.0707,172.7902,Isles Sunset Lodge
13,Ribeira Brava,PT,81.23,32.6500,-17.0667,Hotel do Campo
15,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,Vinh,VN,79.99,18.6667,105.6667,Khách Sạn Thương Mại
17,Tiarei,PF,75.22,-17.5333,-149.3333,Le Rocher de Tahiti
18,Palauig,PH,81.10,15.4350,119.9045,Alperi Botique Resort

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))